.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px 0;
}

.commentBox {
  display: grid;
  grid-template-columns: auto 1fr;
}

.content {
  margin: 0 6px 0 16px;
  background-color: #f0f2f5;
  padding: 12px;
  border-radius: 16px;
  text-align: justify;
}

.content .heading {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.content p {
  margin: 4px 0;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment .date {
  align-self: flex-end;
  font-size: 0.9rem;
  margin: 0;
}

.trash {
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 8px;
  margin-top: -4px;
  margin-bottom: -4px;
}

.trash:hover {
  background-color: rgb(239, 68, 68);
}

.trash:active {
  background-color: rgb(220, 38, 38);
}
