.container {
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 4px 6px -1px rgba(0, 0, 0, 0.25);
}

.list {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
}

.list button {
  background-color: white;
  border: none;
  height: 100%;
  padding: 10px 32px;
}

.list .active {
  border-bottom: 2px solid black;
}

.list button:hover {
  background-color: rgb(241, 241, 241);
}

.list button:active {
  background-color: rgb(221, 221, 221);
}

.rounded {
  border-radius: 100%;
}

.imageBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 96px;
}

.imageBox .imageButton {
  border: none;
  width: 100%;
  background-color: white;
}

.imageBox .imageButton:hover {
  background-color: rgb(231, 231, 231);
}

.imageBox .imageButton:active {
  background-color: rgb(201, 201, 201);
}

.hidden {
  display: none !important;
}

.dropbox {
  position: absolute;
  width: 100%;
  top: 56px;
  display: flex;
  padding: 16px 8px;
  background-color: white;
}

.dropbox button {
  width: 100%;
  padding: 4px;
  border-radius: 8px;
}
